langchain
langchain-community
langchain-chroma
chromadb
langchain_google_genai
sentence-transformers
pypdf
google_generativeai
autogen-agentchat
autogen-ext
autogen_core
mcp
uv
mcp-server-fetch
chromadb
sentence-transformers
google-genai
autogen-ext[openai]
dotenv
streamlit
fastapi